
aws-java-sdk-bundle-*.jar
aws-java-sdk-bundle-*.jar.*
*.lastUpdated
unknown/
*beta*
*.repositories
*incubating
*SNAPSHOT
*.war
*.bat
*.cmd
*.com
*.lock
*.part
*.txt
*.log
*.out
*.version*
beam-runners-spark-job-server-*.jar
beam-runners-spark-job-server-*.jar.*
pulsar-io-hbase-*.jar
pulsar-io-hbase-*.jar.*
spark-assembly_*.jar
spark-assembly_*.jar.*
hadoop-hdfs-*-javadoc.jar
hadoop-hdfs-*-javadoc.jar.*
